*{
    box-sizing: border-box;
}
body{
    background-color: #333;
}

.container{
    width: 400px;
    height: 500px;
    background-color: #aaa;
    border: solid black 2px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.screen{
    width: 100%;
    height: calc(100% / 5 + 20px);
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.2rem;
}
.key{
    width: 75px;
    height: 75px;
    background-color: #EEE;
    margin: 2px;
    border-radius: 5px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.key:hover{
    background-color: #CCC;
}
.key.clear{
  background-color: #FAA;
}
.key.clear:hover{
    background-color: #c88;
}